<!DOCTYPE html>
<html>
  <head>
    <title>SumOne</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'administrative', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'administrative', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<h1>Administrativo</h1>
    <%= yield %>
  </body>
</html>
